<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card shadow-lg" style="width: 400px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Login to Your Account</h3>

      <form [formGroup]="loginForm" (ngSubmit)="handleSubmitForm()">
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email" >


<!-- Error Message for Email -->
<div *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)" class="alert alert-danger">
  <div *ngIf="formControls['email'].errors?.['required']">Email is required.</div>
  <div *ngIf="formControls['email'].errors?.['email']">Please enter a valid email address.</div>
  <div *ngIf="formControls['email'].errors?.['pattern']">Invalid email format. Example: example&#64;example.com</div>
  <div *ngIf="formControls['email'].errors?.['minlength']">Email must be at least 3 characters long.</div>
</div>

        </div>

        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password" formControlName="password">
         <!-- Error Message for Password -->
         <div *ngIf="formControls['password'].invalid && (formControls['password'].dirty || formControls['password'].touched)" class="alert alert-danger">
          <div *ngIf="formControls['password'].errors?.['required']">Password is required.</div>
          <div *ngIf="formControls['password'].errors?.['minlength']">Password must be at least 8 characters long.</div>
          <div *ngIf="formControls['password'].errors?.['maxlength']">Password must be less than 20 characters long.</div>
          <div *ngIf="formControls['password'].errors?.['pattern']">Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special character (&#64;$!%*?&).</div>
        </div>
      
        </div>

        <!-- Submit Button -->
        <div class="d-grid gap-2 mb-3">
          <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>

        <!-- Register Link -->
        <div class="text-center">
          <p>Don't have an account? <a routerLink="/register" class="text-primary">Register here</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
