<h2 class="text-light container">Cart</h2>
<hr/>
<div class="container cart-container">
  <h2 class="mb-4">Cart</h2>
  <table class="table">
      <thead>
          <tr class="cart-header">
              <th>Description</th>
              <th>Quantity</th>
              <th>Remove</th>
              <th>Price</th>
          </tr>
      </thead>
      <tbody>
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img [src]="product.images[0]" class="cart-img me-3" alt="Headphones">
                    <div>
                        <strong>{{product.title}}</strong><br>
                        <small>Product Category : {{product.category}}</small>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center">
                  <button class="btn btn-danger" (click)="decreseCounter()">-1</button>
    <p class="mx-4 my-0 text-dark">{{counter}}</p>
    <button class="btn btn-dark" (click)="increaseCounter()">+1</button>
                </div>
            </td>
            <!-- <td><button class="remove-btn" (click)="removeProduct()">&times;</button></td> -->
            <td>£55</td>
        </tr>

    </tbody>
</table>

<div class="total-container">
    Total: £110.00
</div>
<!-- <div *ngIf="isRemoved" class="alert alert-warning text-center mt-4">
  <strong>تمت إزالة المنتج من السلة.</strong>
</div> -->
</div>



<!-- <div>

</div>
<h1>{{product.title}}</h1>
<img [src]="product.images[0]" class="img-fluid rounded shadow-lg" alt="{{ product.title }}"> -->

<!-- <hr/>
<div class="d-flex align-items-center">
    <button class="btn btn-danger" (click)="decreseCounter()">-1</button>
    <p class="mx-4 my-0 text-light">{{counter}}</p>
    <button class="btn btn-dark" (click)="increaseCounter()">+1</button>
  </div> -->
