.rating {
  font-size: 18px;
}

.filled-star {
  color: gold;
}

.half-star {
  color: orange;
}

.empty-star {
  color: #ccc;
}

.product-image {
  height: 200px;
  object-fit: contain;
  background-color: #3333331e !important;
  padding: 10px;
}
.price{
  color: rgb(81, 198, 81);
}


.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  z-index: 9999;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.success {
  background-color: #28a745;
  color: white;
}

.error {
  background-color: #dc3545;
  color: white;
}
